.title {
  margin-top: 150px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}
.subTitle {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 80px;
}
.avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 5%;
}
.code-illustration {
  height: 30%;
  width: 30%;
}

@media only screen and (max-width: 410px) {
  .title {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .code-illustration {
    visibility: hidden;
  }
  .avatar {
    margin-bottom: 0;
  }
}
