.projectsTitle {
  font-size: 50px;
  margin-bottom: 60px;
}
.projectHeader {
  font-size: 30px;
}
.mockUp {
  margin-top: 20px;
  height: 50%;
  width: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
}
.projectDetails {
  border-bottom: 1px dashed #110b119d;
  text-align: left;
  display: flex;
  margin-bottom: 15px;
}
.projDescription {
  font-size: 20px;
  padding-bottom: 5%;
}
.projButtons {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .projButtons {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .mockUp {
    margin-top: 20px;
    height: 80%;
    width: 80%;
  }
  .projectDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectHeader {
    align-self: center;
    text-align: center;
    font-size: 50px;
  }
  .projDescription {
    text-align: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .projButtons {
    justify-content: space-around;
  }
}
