html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f3f5;
}
.aboutMe,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #110b11;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #5e8873;
  color: #f0f3f5;
  border: none;
  box-shadow: 0px 5px 3px #bcbcbf;
  transition: 0.4s;
}

button:hover {
  background-color: #3a5548;
}

button:active {
  background-color: #3a5548;
  box-shadow: 0px 3px 2px #868688;
  transform: translateY(4px);
}

/* Begin About Me */
.title {
  margin-top: 8%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}
.subTitle {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 80px;
}
.avatar {
  width: auto;
  height: 250px;
  margin-bottom: 5%;
}
.code-illustration {
  height: 30%;
  width: 30%;
}
/* End About Me */

/* Begin Skills Section */
.greenFill {
  background-color: #5e8873;
  height: 500px;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.bio {
  color: #f0f3f5;
  margin-top: -450px;
}
.subBio {
  margin-top: 0;
  margin-bottom: 50px;
  color: #f0f3f5;
  width: 45%;
  font-size: 25px;
  font-weight: 350;
  text-align: center;
}
.skillsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 65%;
  background-color: #f0f3f5;
  border-radius: 15px;
  box-shadow: 0px 5px 8px #110b113a;
  padding: 10px 15px 25px 15px;
}
.skill {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
  border-right: 1px dashed #110b113f;
}
.skill:last-child {
  border-right: none;
}
.skill p {
  justify-content: center;
  width: 80%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}
.skill p:last-child {
  margin-bottom: 0;
}

.skill b {
  color: #5e8873;
  font-size: 18px;
}
.skillIcon {
  height: 100px;
}
/* End Skills Section */

/* Begin Projects */
.projectHeader {
  font-size: 50px;
}
.mockUp {
  margin-top: 20px;
  height: 50%;
  width: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
}
.projectDetails {
  text-align: left;
  display: flex;
}
.projDescription {
  font-size: 20px;
  padding-bottom: 5%;
}
.projButtons {
  display: flex;
  justify-content: space-around;
}

/* End Projects */

/* Begin Contact */
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  color: #110b11;
  font-size: 100px;
  border-bottom: 1px solid#110b11;
}
/* End Contact */
